.admonition {
    font-family: "LXGW WenKai Screen", Verdana, sans-serif;
}

.saying {
    border-left: 4px solid #d85f57;
    margin: 20px 0;
    font-style: italic;
}

.saying p {
    font-size: 21px;
    line-height: 1.5;
    padding: 5px 10px 0px 10px;
    color: rgb(77, 72, 68);

}

.saying .saying-author {
    text-align: right;
    color: gray;
    padding-right: 10px;

}
