/* @font-face {
    font-family: 'Apple Chancery';
    font-style: normal;
    font-weight: normal;
    src: local('Apple Chancery'), url('/fonts/Apple Chancery.woff') format('woff');
} */

/* @import 'lxgw-wenkai-webfont/lxgwwenkai-regular.css';
@import 'lxgw-wenkai-webfont/lxgwwenkai-bold.css'; */

@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue'), url('/fonts/HelveticaNeue-Regular.otf') format('otf');
}
