.apeblog-styled.sm-width {
    max-width: 600px;
    margin: 0 auto 2rem;
    padding: 12px
}

.apeblog-styled h3 {
    color: #666;
    text-align: center;
    margin-bottom: .5em;
    margin-top: 0;
    font-weight: 500;
    font-size: 1.17em
}

.apeblog-styled h4 {
    display: inline-block;
    border-bottom: 1px solid #29d2bf;
    padding-bottom: 5px;
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: .5rem;
    font-weight: 500;
    color: rgba(0,0,0,.85);
    line-height: 1.5
}

.apeblog-styled p {
    margin-bottom: 8px;
    line-height: 1.5rem;
    margin-top: 0
}

.apeblog-styled .subtitle {
    display: flex;
    justify-content: center
}

.apeblog-styled .subtitle,.apeblog-styled .subtitle-with-bg {
    height: 60px;
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5
}

.apeblog-styled .subtitle-with-bg .bg {
    font-weight: 700;
    font-size: 50px;
    opacity: .3;
    color: #29d2bf
}

.apeblog-styled .subtitle-with-bg .txt {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -2px
}

.apeblog-styled .img-div {
    text-align: center;
    margin: 1.5rem 0
}

.apeblog-styled .img-div img {
    width: 100%;
    border-radius: 5px
}

.apeblog-styled table,.apeblog-styled td,.apeblog-styled th {
    border: 1px solid #ddd;
    text-align: left
}

.apeblog-styled table {
    border-collapse: collapse;
    width: 100%
}

.apeblog-styled td,.apeblog-styled th {
    padding: 15px
}

.apeblog-styled .start-practice {
    text-align: center;
    margin: 40px 0
}

.apeblog-styled .start-practice a {
    padding: 10px 35px;
    background-color: #29d2bf;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none
}

.apeblog-styled .ra-body {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.5rem;
    font-family: Helvetica,PingFang SC,Hiragino Sans GB,Segoe UI,Microsoft YaHei,Helvetica Neue,Arial,sans-serif,Chinese Quote,-apple-system,BlinkMacSystemFont
}

.apeblog-styled .ra-body .ra-loss {
    color: #e5b700
}

.apeblog-styled .ra-body .ra-link {
    color: #40bed5
}

.apeblog-styled .ra-body .ra-break,.apeblog-styled .ra-body .ra-stress {
    color: #fb0307
}

.apeblog-styled .ra-body .ra-weak {
    color: #bfbfbf
}
