{{- /* Footer custom content area start */ -}}

{{ if .Site.Params.busuanzi.enable -}}
    <div class="busuanzi-footer" style="text-align: center;padding: 0px;font-size: 12px;color: var(--secondary);">
      <span id="busuanzi_container_site_pv">
        Total<span id="busuanzi_value_site_pv"></span>
      </span>
      <span id="busuanzi_container_site_uv">
        Visitor<span id="busuanzi_value_site_uv"></span>
      </span>
      <span id="busuanzi_container_page_pv">
        Page <span id="busuanzi_value_page_pv"></span>
      </span>
    </div>

{{- end -}}

{{- /* Footer custom content area end */ -}}