{{- if .Site.Params.InsteadPicture -}}
<script src="{{ "/js/instead_images.js" | relURL }}"></script>
{{- end -}}

{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}

{{ $sass := resources.Get "scss/custom.scss" }}
{{ if $sass }}
  {{ $style := $sass | css.Sass }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}


{{ range .Site.Params.customcss }}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}

{{ range .Site.Params.customjs }}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}

{{ range $elem := .Site.Params.customjscssraw }}
    {{ $elem | safeHTML }}
{{- end }}

{{- if .Site.Params.mermaid }}
{{ partial "mermaid.html" . }}
{{- end }}

{{- if eq .Lang "zh"}}
{{- partial "heti.html"}}
{{- end }}

<link  rel="stylesheet" href="https://cdnjs.webstatic.cn/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/style.min.css" integrity="sha512-uushWJqqsPYQOOyatyQoJ44WljQCC70km/MB94XcZVajojoEWQ7S4DoFMtIh4AqmS0to9mI84jxZHR2aV/OIlA==" crossorigin="anonymous">

{{ with .Params.customcss }}<link rel="stylesheet" href="{{ . }}" />{{ end }}

<!-- busuanzi -->
{{- if .Site.Params.busuanzi.enable -}}
  <!-- <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script> -->
  <!-- <script src="{{ "/js/busuanzi.pure.mini.js" | relURL }}"></script> -->
  <script defer src="https://cn.vercount.one/js"></script>
{{- end -}}
