<!-- Disabled -->

{{if not (in .Params.categories "AI") }}

<div class="original-notice">
  <div class="badges" style="display: inline-flex;margin-top:10px;">
    <a class="notbyai" href="https://notbyai.fyi" title="Witten by human, Not By AI">
      <div class="written">
      </div>
    </a>
    <a href="https://nonbot.org/pledged/view/9ea57aa0-0b1b-4584-b02b-f07b5423189b" target="_blank">
      <img style="height:45px;margin-left:10px;" src="https://nonbot.org/images/nonbot_pledged_logo.svg" alt="Human-made Content">
    </a>
  </div>

  <a style="display:block;font-size:14px; font-weight:normal;margin-bottom:20px;" href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh-hans"><strong>{{i18n "declaration"}}:</strong> {{i18n "declaration_content"}}</a>
</div>
{{ end }}
