body {
    font-family: 'Helvetica-EN', 'Times New Roman', 'LXGW WenKai Screen', '-apple-system', 'BlinkMacSystemFont', 'segoe ui', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'open sans', Verdana, sans-serif;
}

.main {
    padding-top: 0px;
}


.footer a {
    border-bottom: none;
}

.post-content table tr:first-child th {
    border-bottom: 2px solid var(--border);
}