// @import "baseof";
// @import "papermod";
// @import "heti";
// @import "widgets";

.heti {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.heti h3 {
    font-size: 18px !important;
    line-height: 32px !important;
}

p{
    background-color: red !important;
    font-size: 100px !important;
}