<div style="position:relative; padding-bottom:100%; width:100%; height:0">
    <iframe src="//player.bilibili.com/player.html?bvid={{.Get 0}}&amp;page={{.Get 1}}" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" style="position:absolute; height: 57%; width: 100%;"></iframe>
</div>

<!-- <iframe src="//player.bilibili.com/player.html?aid=401938776&bvid=BV1mo4y1K72x&cid=1151651631&p=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe> -->