{{ $data := site.Data.mastodon.timeline }}
{{ if not $data }}
<p>No Mastodon timeline data found.</p>
{{ else }}
<link rel="stylesheet" href="/css/mastodon-timeline.css">
<div class="mastodon-container">
  <div class="mastodon-list" id="mastodon-list">
    {{/* Render posts list in original order */}}
    {{ range $data.posts }}
    {{ $id := printf "post-%s" .id }}
    {{ $t := time .created_at }}
    {{ $date := $t.Format "2006-01-02 15:04" }}
    <article id="{{ $id }}" class="mastodon-item" data-created-at="{{ .created_at }}">
      <div class="mastodon-header-flex">
        <div class="mastodon-avatar-wrap">
          <img class="mastodon-avatar" src="{{ .account.avatar }}" alt="{{ .account.acct }}">
        </div>
        <div class="mastodon-head-main">
          <div class="mastodon-head-row">
            <a class="mastodon-name" href="{{ .url }}" target="_blank" rel="noopener">{{ .account.display_name }}</a>
          </div>
          <div class="mastodon-head-row mastodon-head-date">
            <span class="mastodon-date">{{ $date }}</span>
          </div>
        </div>
      </div>
      <div class="mastodon-body">
        <div class="mastodon-content">{{ .content | safeHTML }}</div>
      </div>
    </article>
    {{ end }}
  </div>

  <!-- 分页控件 -->
  <div class="mastodon-pagination-wrapper">
    <div class="mastodon-pagination" id="mastodon-pagination" data-prev="{{ i18n "prev_page" }}" data-next="{{ i18n "next_page" }}"></div>
    <div class="mastodon-pagination-goto">
      <input type="number" id="mastodon-goto-input" class="mastodon-goto-input" placeholder="{{ i18n "pagination_page" }}" min="1">
      <button id="mastodon-goto-btn" class="mastodon-goto-btn">{{ i18n "pagination_goto" }}</button>
    </div>
  </div>
</div>

<script src="/js/mastodon-timeline.js" defer></script>
{{ end }}